## Session #1 Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).



### Question 1

What's the version of NumPy that you installed? 

**1.23.1**
You can get the version information using the `__version__` field:

In [2]:
import numpy as np
np.__version__

'1.23.1'


### Getting the data 

For this homework, we'll use the Car price dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500


### Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

- 16
- 6572
- **11914**
- 18990

In [5]:
# Number of rows
df.shape[0]

11914

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

- Chevrolet, Volkswagen, Toyota
- Chevrolet, Ford, Toyota
- Ford, Volkswagen, Toyota
- **Chevrolet, Ford, Volkswagen**

> **Note**: You should rely on "Make" column in this question.

In [9]:
# Most frequent car manufacturers (top-3)
df['Make'].value_counts() [:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?

- 3
- 16
- 26
- **34**

In [14]:
# number of unique Audi car models
df[df['Make'] == 'Audi']['Model'].nunique()

34


### Question 5

How many columns in the dataset have missing values?

- **5**
- 6
- 7
- 8

In [21]:
# columns in the dataset have missing values
(df.isnull().sum()).sort_values(ascending=False)

Market Category      3742
Engine HP              69
Engine Cylinders       30
Number of Doors         6
Engine Fuel Type        3
Make                    0
Model                   0
Year                    0
Transmission Type       0
Driven_Wheels           0
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64


### Question 6

* Find the median value of "Engine Cylinders" column in the dataset.
* Next, calculate the most frequent value of the same "Engine Cylinders".
* Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
* Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

- Yes
- **No**

In [25]:
# median value of "Engine Cylinders" column
eng_cyl_median = df['Engine Cylinders'].median()

# most frequent value of "Engine Cylinders"
eng_cyl_mode = df['Engine Cylinders'].mode()

# Fill na with most frequent value 
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(eng_cyl_mode)

# median value of imputed "Engine Cylinders" column
eng_cyc_median_new = df['Engine Cylinders'].median()

print(eng_cyl_median, eng_cyc_median_new)

6.0 6.0

### Question 7

* Select all the "Lotus" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -0.0723
- **4.5949**
- 31.6537
- 63.5643

In [32]:
df_lotus = df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']]

df_lotus = df_lotus.drop_duplicates()
df_lotus.shape

In [35]:
X = df_lotus.values
X_T  = np.transpose(X)

X_T_X = np.matmul(X_T, X)

In [38]:
X_T_X

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [42]:
X_T_X_inv = np.linalg.inv(X_T_X)
y =np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

# Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
w = np.matmul(np.matmul(X_T_X_inv, X_T), y)

In [45]:
w[0]

4.594944810094551